<div class="min-h-screen bg-gray-100 flex flex-col items-center justify-center">
  <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-8 mt-12">
    <h2 class="text-2xl font-bold mb-6 text-center">Forgot Password</h2>
    <form (ngSubmit)="resetPassword()" class="space-y-6">
      <div>
        <label class="block text-gray-700 font-semibold mb-1">Email</label>
        <input [(ngModel)]="email" name="email" type="email" required placeholder="Enter your email"
          class="w-full px-4 py-3 border border-gray-300 rounded outline-none focus:ring-2 focus:ring-[#BA0C2F] text-gray-900 bg-white" />
      </div>
      <div>
        <label class="block text-gray-700 font-semibold mb-1">New Password</label>
        <input [(ngModel)]="newPassword" name="newPassword" type="password" required placeholder="Enter new password"
          class="w-full px-4 py-3 border border-gray-300 rounded outline-none focus:ring-2 focus:ring-[#BA0C2F] text-gray-900 bg-white" />
      </div>
      <button type="submit" class="w-full bg-[#BA0C2F] hover:bg-[#a40a29] transition py-3 font-bold rounded text-white">
        Reset Password
      </button>
    </form>
    <app-toast #toast></app-toast>
  </div>
</div> 